.form {
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border: 3px solid #4ca77d;
}

.contact-form {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.login-logo {
    color: #154b40;
    font-size: 7rem;
}

.invalid-email {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.login-form {
    background-image: url("../../public/images/farm.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    filter: brightness(70%);

}

.login-name input,
.login-password input,
.Email input {
    background-color: white;
    color: black;
    border-bottom: 1.5px solid #00b7cf;
    height: 45px;
    width: 100%;
    padding-left: 20px;
}

.login-name label,
.login-password label,
.Email label {
    color: white;
}

.login-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.login-txt {
    color: white;
}

.login-name,
.login-password,
.Email {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.contact-container {
    display: flex;
    justify-content: center;
    /* width: 80%; */
}

.form-login {
    width: 60%;
    background-color: #237262;
    ;
}

.contact-details {
    width: 40%;
    background-color: #237262;
    display: flex;
    padding: 50px;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info {
    display: flex;
    gap: 10px;
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #ecd0cf;
}

.contact-content {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.name,
.mail {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.subject {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name input,
.mail input {
    padding: 10px;
}

.subject input {
    padding: 10px;
}

.user-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.message input {
    padding: 10px;
    height: 100px;
}

.details-container p {
    font-size: 2rem;
}

form h1 {
    color: #237262;
}

form button {
    width: fit-content;
    padding: 10px;
}

.contact-icon {
    border-radius: 50%;
    border: 2px solid #ecd0cf;
    padding: 10px;
}

input:focus {
    outline: none;
    border-bottom: 2.5px solid #4ca77d;
}

input,
label {
    font-size: 1.5rem;
}

input {
    background-color: #ecd0cf;
    border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
}

label {
    color: #237262;
}

.login-btn {
    padding: "10px";
    font-size: "2rem";
}

.user-data {
    background-color: white;
    width: 60%;
    height: 300px;
    position: absolute;
    transform: translateY(-38%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    opacity: 0;
    top: -50%;
}

.user-details p {
    font-size: 2rem;
}

.show {
    opacity: 1;
    top: 50%;
    transition: ease-in-out 1s;
}

.user-details {
    /* padding: 50px; */
    width: 40%;
}

.crossbtn {
    padding: 5px;
    border: none;
    background-color: #00b7cf;
    margin-top: 5px;
    width: 80px;
    height: 40px;

}

.crossbtn:hover {
    cursor: pointer;
}

.home-msg {
    font-size: 2rem;
    font-weight: bolder;

}

.load {
    width: 30px;
    height: 30px;
}

.load img {
    width: 100%;
}

@media only screen and (max-width:900px) {
    .contact-details {
        padding: 15px;
        width: 50%;
    }

    .contact-content {
        font-size: 2.5rem;
    }

    .form {
        width: 55%;
    }

    form {
        padding: 15px;
    }

    .form-login {
        width: 80%;
    }

    .form-login form {
        padding: 30px;
    }

    form button {
        width: fit-content;
        padding: 5px;
    }

    .name,
    .mail {
        width: 100%;
    }

    input,
    label {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width:480px) {
    .contact-info {
        gap: 5px;
    }

    .crossbtn {
        padding: 5px;
        border: none;
        background-color: #00b7cf;
        margin-top: 5px;
        width: 40px;
        height: 15px;
    }

    .contact-icon {
        border: 1.3px solid #ecd0cf;
    }

    input:focus {
        border-bottom: 1px solid #4ca77d;
    }

    .details-container p {
        font-size: 3.2rem;
    }

    .contact-content {
        font-size: 2.5rem;
    }

    input,
    label {
        font-size: 3rem;
    }

    .form-login {
        width: 80%;
    }

    form {
        padding: 30px;
    }
}

@media only screen and (max-width:300px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-details {
        width: 100%;
    }

    .form {
        width: 100%;
    }
}